{%extends 'index.html'%}

{% load mathfilters %}

{%block contenido%}

	<div class="container">
		
		<div class="row">

			{% for prod in productos %}
				
				<div class="col-md-4 col-xl-3" style="margin: 10px 0px">
					<div class="card card-blog">
						<div class="card-header card-header-image">
							<a href="#">
								<img class="img" src="/media/{{prod.imagen}}" height="200px" width="100%">
							</a>
						</div>
						<div class="card-body">
							<h4 class="card-title">
								{{prod.nombre}}
							</h4>
							{% if prod.oferta and prod.oferta.porcentajeInt > 0 %}
					  		 <!-- Label -->
						    	<h5 class="pink-text pb-2 pt-1"><i class="fas fa-price"></i>{{prod.oferta.porcentaje}} de descuento</h5>
					  			<strike>
									<h6 class="card-category text-info">${{prod.costo}} MXN</h6>
								</strike>
								<b>
									<h4 class="card-category text-danger">${{ prod.oferta.porcentajeInt|div:100|mul:prod.costo|sub:prod.costo|abs }}</h4>
								</b>
					  		{% else %}
					  			<span class="text-info"><b>${{prod.costo}}.00 MXN</b></span>
					  		{% endif %}
							<p class="card-description limitado">
								{{prod.descripcion}}
							</p>
							
							    <!-- Facebook -->
							    <a type="button" class="btn-floating btn-small btn-danger" onclick="addFavorite({{prod.id}})">
							    	<i class="fa fa-heart"></i>
							    </a>


						</div>
						<div class="card-body ">

							<a href="/details/{{prod.id}}" class="card-link">Ver detalles</a>
						</div>
					</div>
				</div>

			{% endfor %}

		</div>
		
		<!-- Section: Products v.5 -->
			<section class="text-center my-5">



			  <!-- Carousel Wrapper -->
			  <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
			    <!-- Controls -->
			    <div class="controls-top">
			      <a class="btn-floating primary-color waves-effect waves-light" href="#multi-item-example" data-slide="prev">
			        <i class="fas fa-chevron-left"></i>
			      </a>
			      <a class="btn-floating primary-color waves-effect waves-light" href="#multi-item-example" data-slide="next">
			        <i class="fas fa-chevron-right"></i>
			      </a>
			    </div>
			    <!-- Controls -->
			    <!-- Indicators -->
			    <ol class="carousel-indicators">

					<li class="primary-color active" data-target="#multi-item-example" data-slide-to="0"></li>
			    	{% for prod in related %}
							{% if forloop.counter|divisibleby:'3' %}
								<li class="primary-color" data-target="#multi-item-example" data-slide-to=""></li>
							{% endif %}
							
					{% endfor %}
			      

			    </ol>
			    <!-- Indicators -->
			    <!-- Slides -->
			    <div class="carousel-inner" role="listbox">
			      <!-- First slide -->
			      <div class="carousel-item active">

					    {% for prod in related %}
							
							{% if forloop.counter|divisibleby:'3' %}
									<div class="col-md-4 mb-2">
										<div class="card">
											<!-- Card image -->
							            <div class="view view-cascade overlay">
							              <img src="{{prod.imagen.url}}" class="card-img-top"
							                alt="sample photo">
							              <a>
							                <div class="mask rgba-white-slight"></div>
							              </a>
							            </div>
							            <!-- Card image -->
							            <!-- Card content -->
							            <div class="card-body card-body-cascade text-center">
							              <!-- Category & Title -->
							              <a href="" class="text-muted">
							                <h5>{{prod.nombre}}</h5>
							              </a>
							              <h4 class="card-title my-4">
							                 <a href="" class="text-danger">
							                  {% if prod.oferta and prod.oferta.porcentajeInt > 0 %}
							              		{{prod.oferta.porcentaje}} de descuento
							              	 {%endif%} 
							              	</a>
							              </h4>
							              <!-- Description -->
							              <p class="card-text limitado">
							              	{{prod.descripcion}}
							              </p>
							              <!-- Card footer -->
							              <div class="card-footer px-1">
							                <span class="float-left text-info">${{prod.costo}}</span>
							                <span class="float-right">
							                  <a href="{%url 'details' prod.id%}" data-toggle="tooltip" data-placement="top" title="" data-original-title="Quick Look">
							                    <i class="fas fa-eye ml-3"></i>
							                  </a>
							                  <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to Wishlist" onclick="addFavorite({{prod.id}})">
							                    <i class="fas fa-heart ml-3"></i>
							                  </a>
							                </span>
							              </div>
							            </div>
							            <!-- Card content -->
										</div>
									</div>
								</div>
								<div class="carousel-item">
							{% else %}
								<div class="col-md-4 mb-2">
									<div class="card">
										<!-- Card image -->
							            <div class="view view-cascade overlay">
							              <img src="{{prod.imagen.url}}" class="card-img-top"
							                alt="sample photo">
							              <a>
							                <div class="mask rgba-white-slight"></div>
							              </a>
							            </div>
							            <!-- Card image -->
							            <!-- Card content -->
							            <div class="card-body card-body-cascade text-center">
							              <!-- Category & Title -->
							              <a href="" class="text-muted">
							                <h5>{{prod.nombre}}</h5>
							              </a>
							              <h4 class="card-title my-4 ">
							                  <a href="" class="text-danger">
							                  {% if prod.oferta and prod.oferta.porcentajeInt > 0 %}
							              		{{prod.oferta.porcentaje}} de descuento
							              		{%endif%} 
							              	</a>
							              </h4>
							              <!-- Description -->
							              <p class="card-text limitado">
							              	{{prod.descripcion}}
							              </p>
							              <!-- Card footer -->
							              <div class="card-footer px-1">
											
											{% if prod.oferta and prod.oferta.porcentajeInt > 0 %}
												<b>
													<span class="card-category text-danger">${{ prod.oferta.porcentajeInt|div:100|mul:prod.costo|sub:prod.costo|abs }}</span>
												</b>
									  		{% else %}
									  			<span class="text-info"><b>${{prod.costo}}.00 MXN</b></span>
									  		{% endif %}



							                <span class="float-right">
							                  <a href="{%url 'details' prod.id%}" data-toggle="tooltip" data-placement="top" title="" data-original-title="Quick Look">
							                    <i class="fas fa-eye ml-3"></i>
							                  </a>
							                  <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to Wishlist" onclick="addFavorite({{prod.id}})">
							                    <i class="fas fa-heart ml-3"></i>
							                  </a>
							                </span>
							              </div>
							            </div>
							            <!-- Card content -->
									</div>
								</div>
							{% endif %}
					    {% endfor %}

					</div>


			      </div>
			      <!-- First slide -->


			    </div>
			    <!-- Slides -->
			  </div>
			  <!-- Carousel Wrapper -->

			</section>
			<!-- Section: Products v.5 -->

	</div>


	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<script type="text/javascript">
	function ellipsis_box(elemento, max_chars){
		$(elemento).each(function(index,el) {
			limite_text = $(el).text();
			if (limite_text.length > max_chars){
				limite = limite_text.substr(0, max_chars)+" ...";
				$(el).text(limite);
			}
		});
	}
	$(function(){
		ellipsis_box(".limitado", 100);
	});
	</script>

{%endblock%}