{%extends 'index.html'%}

{%load static%}

{%block contenido%}

<div class="d-flex justify-content-center">
		<div class="col-md-8">
				<!-- Material form login -->
					<div class="card">

					  <h5 class="card-header info-color white-text text-center py-4">
					    <strong>Sign in</strong>
					  </h5>

					  <!--Card content-->
					  <div class="card-body px-lg-5 pt-0">

					    <!-- Form -->
					    <form class="text-center" style="color: #757575;" action="" method="POST">
						
						{% csrf_token %}
					      <!-- Email -->
					      <div class="md-form">
					        <input type="text" id="materialLoginFormEmail" class="form-control" name="username">
					        <label for="materialLoginFormEmail">Nombre de usuario</label>
					      </div>

					      <!-- Password -->
					      <div class="md-form">
					        <input type="password" id="materialLoginFormPassword" class="form-control" name="password">
					        <label for="materialLoginFormPassword">Contraseña</label>
					      </div>

					      <div class="d-flex justify-content-around">
					        <div>
					          <!-- Remember me -->
					          <div class="form-check">
					            <input type="checkbox" class="form-check-input" id="materialLoginFormRemember">
					            <label class="form-check-label" for="materialLoginFormRemember">Remember me</label>
					          </div>
					        </div>
					        <div>
					          <!-- Forgot password -->
					          <a href="">Forgot password?</a>
					        </div>
					      </div>

					      <!-- Sign in button -->
					      <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Sign in</button>

					      <!-- Register -->
					      <p>Not a member?
					        <a href="{%url 'register'%}">Register</a>
					      </p>

					      
					    </form>
					    <!-- Form -->

					  </div>

					</div>
					<!-- Material form login -->

		</div>
</div>

{%endblock%}
