{%extends 'index.html'%}

{%load static%}

{%block contenido%}

<div class="d-flex justify-content-center">
    <div class="col-md-8">
        <!-- Material form register -->
                  <div class="card">

                      <h5 class="card-header info-color white-text text-center py-4">
                          <strong>Registrate</strong>
                      </h5>

                      <!--Card content-->
                      <div class="card-body px-lg-5 pt-0">

                          <!-- Form -->
                          <form class="text-center" style="color: #757575;" action="" method="POST">
                                
                                {% csrf_token %}

                              <div class="form-row">
                                  <div class="col">
                                      <!-- First name -->
                                      <div class="md-form">
                                          <input type="text" id="materialRegisterFormFirstName" class="form-control" name="firstName">
                                          <label for="materialRegisterFormFirstName">Nombre</label>
                                      </div>
                                  </div>
                                  <div class="col">
                                      <!-- Last name -->
                                      <div class="md-form">
                                          <input type="text" id="materialRegisterFormLastName" class="form-control" name="lastName">
                                          <label for="materialRegisterFormLastName">Apellidos</label>
                                      </div>
                                  </div>
                              </div>

                              <!-- E-mail -->
                              <div class="md-form mt-0">
                                  <input type="text" id="materialRegisterFormEmail" class="form-control" name="username">
                                  <label for="materialRegisterFormEmail">Nombre de usuario</label>
                              </div>

                              <!-- E-mail -->
                              <div class="md-form mt-0">
                                  <input type="email" id="materialRegisterFormEmail" class="form-control" name="email">
                                  <label for="materialRegisterFormEmail">Correo</label>
                              </div>

                              <!-- Password -->
                              <div class="md-form">
                                  <input type="password" id="materialRegisterFormPassword" class="form-control" aria-describedby="materialRegisterFormPasswordHelpBlock" name="password">
                                  <label for="materialRegisterFormPassword">Contraseña</label>
                                  <small id="materialRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
                                      At least 8 characters and 1 digit
                                  </small>
                              </div>

                              <!-- Password -->
                              <div class="md-form">
                                  <input type="password" id="materialRegisterFormPassword1" class="form-control" aria-describedby="materialRegisterFormPasswordHelpBlock" name="password1">
                                  <label for="materialRegisterFormPassword1">Confirmar Contraseña</label>
                              </div>

                              <!-- Newsletter -->
                              <div class="form-check">
                                  <input type="checkbox" class="form-check-input" id="materialRegisterFormNewsletter" name="newsletter">
                                  <label class="form-check-label" for="materialRegisterFormNewsletter">Subscribe to our newsletter</label>
                              </div>

                              <!-- Sign up button -->
                              <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Sign in</button>

                              <!-- Social register -->
                              <p>or sign up with:</p>

                              <a type="button" class="btn-floating btn-fb btn-sm">
                                  <i class="fab fa-facebook-f"></i>
                              </a>
                              <a type="button" class="btn-floating btn-tw btn-sm">
                                  <i class="fab fa-twitter"></i>
                              </a>
                              <a type="button" class="btn-floating btn-li btn-sm">
                                  <i class="fab fa-linkedin-in"></i>
                              </a>
                              <a type="button" class="btn-floating btn-git btn-sm">
                                  <i class="fab fa-github"></i>
                              </a>

                              <hr>

                              <!-- Terms of service -->
                              <p>By clicking
                                  <em>Sign up</em> you agree to our
                                  <a href="" target="_blank">terms of service</a>

                          </form>
                          <!-- Form -->

                      </div>

                  </div>
                  <!-- Material form register -->
    </div>
</div>

{%endblock%}
